// Fonts

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Layout
@import "layout/grid";
@import "layout/index";
@import "layout/footer";

// Content
@import "content/tables";

// Components
@import "components/form";
@import "components/navs";
@import "components/upload";
@import "components/tour";
@import "components/dropzone/basic";
@import "components/dropzone/dropzone";

// Utils
@import "utils/color";

// Pages
@import "pages/homepage";
@import "pages/trending";

// Views
@import "views/topic";
@import "views/dialog";
@import "views/create";
@import "views/match";
@import "views/play";
@import "views/listen";
@import "views/review";
@import "views/embed";
@import "views/practice";

// Override
@import "override";
