.v-step {
    background: white !important;
    color: #0b1526 !important;
    .v-step__button {
        background: #409EFF !important;
        border-radius: 0 !important;
    }
    .v-step__arrow {
        border-style: solid !important;
        border-color: white !important;
    }
}

.v-step[x-placement^=bottom] .v-step__arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}

.v-step[x-placement^=top] .v-step__arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}
