body.play {
    @media (max-width: 767px) {
        .card-header {
            padding: 10px;
        }
        .card-body {
            padding: 0;
        }
    }
}
#quiz {
    .el-header {
        padding: 0;
        .el-form-item {
            margin-bottom: 0;
        }
    }

    .el-progress {
        width: 80%;
        margin: 0 auto;
    }

    hr {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
        box-sizing: content-box;
        height: 0;
        overflow: visible;
    }

    .el-button {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
    }

    .title .word {
        font-size: 1.5rem;
        margin: 0 15px;
    }

    .box {
        margin: 20px auto;
        float: none;
    }

    .button-group .button .el-tag {
        float: left;
    }

    .left {
        float: left;
        width: 50%;
        padding-bottom: 30px;
    }

    .text-left {
        text-align: left;
    }

    .right {
        float: right;
    }

    .el-dialog__body {
        text-align: center;
    }

    .dialog-post .progress-box {
        text-align: center;
        height: auto;
    }

    .dialog-post .progress-box > div {
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        .button-group-3 {
            width: 100%;
            float: left;
            margin: 10px 0;
        }

        .button-group-3 .button {
            width: 600px;
        }

        .button-group-4, .button-group-6 {
            width: 50%;
            float: left;
            margin: 10px 0;
        }

        .button-group-4 .button, .button-group-6 .button {
            width: 300px;
        }
    }

    // Tablet
    @media (max-width: 1024px) {

    }

    @media (max-width: 767px) {
        .el-header {
            padding: 10px;
        }
        .button-group {
            margin: 10px;
            .button {
                width: 100%;
            }
        }
        .el-footer {
            padding: 10px;
            .el-button {
                margin-bottom: 20px;
            }
        }
        .row-footer {
            padding: 10px;
        }
    }
}
